:root{
  --primary-color: #171717;
  --secondary-color: #3b82f6;
  --links-color: #f8fafc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-left: 4%;
  padding-right: 4%;
}

header{
  position: relative;
  background: transparent;
  width: 50%;
  margin: 40px auto 60px auto;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

nav li a{
  color: var(--links-color);
  list-style: none;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
}

nav #hidden{
  display: flex;
}

section{
   width: 50vw;
   padding: 10px 25px;
   margin: 30px auto;
}

.landing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing div:nth-child(1) {
  min-width: 250px;
}

.landing h4 a {
  text-decoration: none;
  color: var(--secondary-color);
}

.landing div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dp{
  height: 175px;
}

h1,
#resume,
.landing h4 {
  margin: 20px 0;
}

#resume:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.typing{
  color: var(--links-color);
}

section h1{
  color: var(--secondary-color);
}

.social-links {
  width: 200px;
  margin: 20px auto 20px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-links li {
  list-style: none;
  margin-right: 30px;
}

.social-links li a {
  text-decoration: none;
  color: var(--links-color);
  cursor: pointer;
}

.social-links li a:hover {
  color: var(--secondary-color);
}

.info-para{
  display: flex;
  gap: 5px;
}

#about div{
  color: var(--links-color);
  padding-top: 10px;  
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--links-color);
}

.about h1{
  color: var(--secondary-color);
}

.skills-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 4%;
}

.bullets{
  color: var(--secondary-color);
}

.skills-grid > div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.skills-grid > div > h4 {
  color: var(--links-color);
  margin: 15px;
}

.skills-grid > div h4:hover {
  color: var(--secondary-color);
  cursor: default;
}

.project-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 100%;
}

.project-grid > div{
  margin: 28px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.project-icons{
  display: flex;
  color: var(--links-color);
  gap: 20px;
  margin-bottom: 30px;
} 

.project-icons:hover{
  color: var(--secondary-color);
}

.project-grid > div > div {
  padding-left: 0;
  display: flex;
  justify-content: left;
}

.project a,p{
  color: var(--links-color);
}

.project a {
  font-size: 1.5rem;
}

.project  h3 {
  color: var(--secondary-color);
}

.contact ul {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.contact ul li a {
  color: var(--links-color);
  font-size: 2rem;
  margin-left: 1rem;
}

.contact ul li {
  list-style: none;
  text-decoration: none;
}

footer p {
  text-align: center;
  font-size: 1.3em;
}

@media only screen and (max-width: 1048px) {
  header {
    width: 75vw;
  }

  section{
    width: 75vw;
    margin: 15px auto;
    }

    .skills-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
}
  


@media only screen and (max-width: 768px) {

  header {
    width: 100%;
    margin: 25px auto;
  }

  body{
    overflow-x: hidden;
  }
 
  nav ul{
   right: 0;
   z-index: 2;
   flex-direction: column;
   margin-top: 20px;
  }
 
  nav ul li{
    margin: 10px auto;
  }

  .menu-icon{
    display: block;
    margin-left: auto;
  }

  .nav-menu{
    display: none;
  }

  #hidden {
    max-height: 190px;
    overflow: hidden;
    transition: 0.3s;
  }

  section{
    width: 80vw; 
    margin: 15px auto;
 }

 #dp {
  height: 150px;
 }

.landing {
  flex-direction: column-reverse;
}

.landing div:nth-child(1) {
  width: 100%;
}

.landing div:nth-child(2) {
  width: 100%;
  padding-right: 0;
  margin-bottom: 35px;
}

.skills-grid {
  grid-template-columns: 50% 50%;
}

.about {
  color: var(--links-color);
  margin: auto;
  width: 100vw; 
}

.about p{
  margin-top: 1.5rem;
  width: 90%;
}



footer {
  text-align: center;
  padding-left: 3rem;
  }
}
