:root{
  --primary-color: #171717;
  --secondary-color: #3b82f6;
  --links-color: #f8fafc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  background-color: var(--primary-color);
  max-width: max-content;
  margin: auto;
}

html{
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
}

nav .navbar-brand {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .5px;
  text-decoration: none;
}

nav .nav-list {
  display: flex;
}

nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: .4s;
  list-style: none;
}

nav .nav-list .nav-link {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav .nav-list .nav-link:hover{
  color: var(--secondary-color);
}


section{
   width: 50vw;
   padding: 10px 25px;
   margin: 30px auto;
}

section h1{
  color: var(--secondary-color);
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name h4{
  color: var(--links-color);
  margin-top: 1rem;
  font-size: 1.2rem;
}

.name .dynamic-text{
  color: white;
  margin-top: 1rem;
  font-size: 1rem;
}

.name h1,h3,a{
  margin-top: 1rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.name ul {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.bullets{
  font-size: xx-small;
  color: var(--links-color);
}

.name ul li a {
  color: var(--links-color);
  font-size: 2rem;
  margin-right: 1rem;
}

.container ul li {
  list-style: none;
  text-decoration: none;
}
#img{
  height: 11rem;
}

.about {
  color: var(--links-color);
  margin: 40px auto 60px auto;
  width: 50vw;
}

.about p{
  margin-top: 1rem;
}

.about h1{
  color: var(--secondary-color);
}

.skills{
   display: grid;
   grid-template-columns: 150px 150px 180px;
   grid-gap: 10px;
}


.skills div {
  color: var(--secondary-color);
  margin: 1rem;
}

.skills div span {
  color: var(--links-color);
}

.skills h1{
  color: var(--secondary-color);
}

.project h3{
  margin-top: 2.4rem;
}
.project div{
  margin: 1rem;
}

.project a,p{
  color: var(--links-color);
  margin-top: 2rem;
}

.project a {
  font-size: 1.4rem;
}

.contact ul {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.contact ul li a {
  color: var(--links-color);
  font-size: 2rem;
  margin-left: 1rem;
}

.contact ul li {
  list-style: none;
  text-decoration: none;
}

footer p {
  text-align: center;
  font-size: 1.3em;
}

@media (max-width: 935px) {

  nav {
      padding: 0 2rem;
  }

  nav .nav-list .nav-item {
      padding: 0 20px;
  }

}

@media only screen and (max-width: 768px) {

  nav .nav-list {
    display: grid;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
}

nav .nav-list .nav-item {
    padding-left: 35px;
}

nav .navbar-toggler {
    display: grid !important;
}

}

nav .navbar-toggler {
display: none;
height: min-content;
margin: 18px -10px 0 0;
cursor: pointer;
}

nav .navbar-toggler .bar {
width: 40px;
height: 5px;
margin-bottom: 10px;
background: #ffffff;
border-radius: 10%;
transition: .4s;
}

input {
display: none;
}

input:checked ~ nav .nav-list {
transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
position: absolute;
transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
transform: rotate(-45deg);
}

section{
    margin: 15px 0.5rem;
 }

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#img{
  height: 10rem;
}

.about {
  color: var(--links-color);
  margin: auto;
  width: 100vw; 
}

.about p{
  margin-top: 1.5rem;
  width: 90%;
}

.skills{
  display: grid;
  grid-template-columns: 120px 120px 180px;
  grid-gap: 5px;
}

.project p{
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90vw;
}

footer {
  text-align: center;
  padding-left: 3rem;
}

